/* Resetting default margin and font family */
body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	background: #111;
}

/* Ensuring all elements include padding and border in their total width and height */
* {
	box-sizing: border-box;
}

/* Styling for the main weather app container */
.weather-app {
	min-height: 100vh; /* Minimum height to cover the viewport */
	background-image: url(./images/day/cloudy.jpg); /* Background image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff; /* Text color */
	position: relative;
	transition: 500ms; /* Smooth transition effect */
	opacity: 1; /* Full opacity */
}

/* Styling for the pseudo-element before the main content */
.weather-app::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
	z-index: 0;
}

/* Styling for the container within the weather app */
.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding: 2em 3em 4em 3em; /* Padding */
}

/* Styling for nested divs within the container */
.container > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styling for city-time, temperature, and weather information */
.city-time,
.temp,
.weather {
	margin: 0 1em;
}

/* Styling for city-time heading */
.city-time h1 {
	margin: 0;
	margin-bottom: 0.2em;
	font-size: 3em;
}

/* Styling for temperature heading */
.temp {
	font-size: 7em;
	margin: 0;
}

/* Styling for weather icon */
.weather img {
	display: block;
	margin: 0.5em 0;
}

/* Styling for the side panel */
.panel {
	position: absolute;
	width: 40%; /* Width of the panel */
	height: 100%;
	top: 0;
	right: 0;
	background: rgba(110, 110, 110, 0.25); /* Background color with opacity */
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3); /* Box shadow effect */
	backdrop-filter: blur(10px); /* Blur effect for supporting browsers */
	-webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
	border: 1px solid rgba(255, 255, 255, 0.18); /* Border styling */
	z-index: 1; /* Ensuring it's above other elements */
	padding: 3em 2em; /* Padding */
	overflow-Y: scroll; /* Vertical scrolling */
}

/* Styling for the form within the panel */
.panel form {
	margin-bottom: 3em;
}

/* Styling for the search button */
.submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5em;
	margin: 0;
	border: none;
	outline: none;
	background: #fa6d1b; /* Button background color */
	color: #fff; /* Button text color */
	cursor: pointer;
	font-size: 1.2em;
}

/* Styling for hover effect on the search button */
.submit:hover {
    background: #fff; /* Background color on hover */
	color: #000; /* Text color on hover */
}

/* Styling for the search input */
.search {
	background: none;
	border: none;
	border-bottom: 1px #ccc solid; /* Bottom border */
	padding: 0 1em 0.5em 0;
	width: 80%;
	color: #fff;
	font-size: 1.1em;
}

/* Styling for focus state of search input */
.search:focus {
    outline: none; /* Removing outline on focus */
}

/* Styling for placeholder text in search input */
.search::placeholder {
    color: #ccc;
}

/* Styling for the list of cities */
.panel ul {
	padding: 0 0 1em 0;
	margin: 2em 0;
	border-bottom: 1px #ccc solid; /* Bottom border */
}

/* Styling for individual city items */
.panel ul li {
	color: #ccc; /* Text color */
	margin: 2.5em 0; /* Margin */
}

/* Styling for heading in weather details */
.panel ul h4 {
	margin: 3em 0;
}

/* Styling for city items with hover effect */
.city {
	display: block;
	cursor: pointer;
}

/* Styling for hover effect on city items */
.city:hover {
    color: #fff; /* Text color on hover */
}

/* Styling for details list items */
.details li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
	.panel, .container {
		position: relative; /* Adjusting position for responsiveness */
		width: 100%; /* Full width */
		top: initial; /* Resetting top position */
	}
}

/* Media query for very small screens */
@media screen and (max-width: 500px) {
	html {
		font-size: 12px; /* Adjusting font size */
	}
}

/* Media query for screens with very low height */
@media screen and (max-height: 300px) {
	.weather-app {
		min-height: 40em; /* Setting minimum height */
	}
}
